<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgwDz6srlwiQQSK-EZs0kZaCJvlKiI50w</string>
	<key>GCM_SENDER_ID</key>
	<string>731684770929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.assignment.afl</string>
	<key>PROJECT_ID</key>
	<string>australianfootballleague-d0826</string>
	<key>STORAGE_BUCKET</key>
	<string>australianfootballleague-d0826.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:731684770929:ios:8bbb16f5b0d19bb679b7d0</string>
</dict>
</plist>
